.ct-chart {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(149, 53, 228, 0.25);
}
.container-chart {
    height: 100%;
}
.ct-chart-title > p {
    margin-top: .4rem;
    font-size: .9rem;
}
@media (max-width: 720px) {
    .ct-chart {
        padding: 1rem .8rem;
        margin-top: 2rem;
    }
    .ct-chart-title > .ct-selectcurrency {
        margin-top: .4rem;
    }
    .container-chart {
        min-height: 280px;
    }
}
@media (prefers-color-scheme: dark) {
    .ct-chart {
        background-color: #212121;
        box-shadow: 0 0 15px rgb(196, 124, 255, 0.34);
    }
}
