header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 8%;
    padding: .5rem 2rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    z-index: 15;
    transition: all 150ms;
}
.ct-header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 10%;
}
.ct-header-info img {
    max-height: 100%;
}
.ct-header-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    place-items: center;
}
.sociallink {
    cursor: pointer;
}
.sociallink > p {
    display: none;
}
.menu-header {
    display: none;
}
.label-menu {
    display: none;
}
.label-overlay {
    display: none;
}
@media (max-width:720px) {
    header {
        padding: .5rem;
    }
    .label-menu {
        display: block;
        place-self: center;
    }
    .menu-header:checked ~ .ct-header-link {
        display: flex;
        align-items: flex-start;
    }
    .menu-header:checked ~ .label-overlay {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -5;
        background-color: transparent;
    }
    .ct-header-link {
        display: none;
        flex-direction: column;
        right: 5%;
        top: 50%;
        background-color: #fff;
        position: absolute;
        padding: 1.5rem 1rem;
        gap: 1.2rem;
        border-radius: 10px;
        box-shadow: 0 0 3px gray;
    }
    .sociallink {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        gap: .4rem;
    }
    .sociallink > p {
        display: inline;
    }
}
@media (min-width:721px) and (max-width:1024px) {
    header {
        max-height: 5%;
    }
}
@media (prefers-color-scheme: dark) {
    header {
        background-color: #212121;
    }
    .ct-header-link {
        background-color: #212121;
    }
}